/* SCSS HEX */
$sunray: #edae49ff;
$brick-red: #d1495bff;
$metallic-seaweed: #00798cff;
$lapis-lazuli: #30638eff;
$indigo-dye: #003d5bff;

/* SCSS HSL */
$sunray: hsla(37, 82%, 61%, 1);
$brick-red: hsla(352, 60%, 55%, 1);
$metallic-seaweed: hsla(188, 100%, 27%, 1);
$lapis-lazuli: hsla(207, 49%, 37%, 1);
$indigo-dye: hsla(200, 100%, 18%, 1);

/* SCSS RGB */
$sunray: rgba(237, 174, 73, 1);
$brick-red: rgba(209, 73, 91, 1);
$metallic-seaweed: rgba(0, 121, 140, 1);
$lapis-lazuli: rgba(48, 99, 142, 1);
$indigo-dye: rgba(0, 61, 91, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-right: linear-gradient(90deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-bottom: linear-gradient(180deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-left: linear-gradient(270deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-top-right: linear-gradient(45deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-bottom-right: linear-gradient(135deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-top-left: linear-gradient(225deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-bottom-left: linear-gradient(315deg, #edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
$gradient-radial: radial-gradient(#edae49ff, #d1495bff, #00798cff, #30638eff, #003d5bff);
